.Confirm{
    width: 100%;
    height: 100%;
    padding-top: 80px;
    border-bottom:1px solid black ;
}
.Confirm__text{
    margin-bottom: 8px;
}
.Confirm__btn-confirm{
    margin-left: 4px;
    padding:4px 8px 4px 8px;
    font-weight: 400;
}
.Confirm__btn-delete{
    padding:4px 8px 4px 8px;
    font-weight: 400;
}